<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bcrypt_qap3_info</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
        
        <div class="edit content">
            <form action="/logins/<%= locals.theId %>?_method=PATCH" method="POST">
                <label>Edit Login Fields:</br>
                    <input type="text" name="first_name" value="<%= locals.first_name %>" required>
                    <input type="text" name="password" value="<%= locals.password %>" required>
                </label></br>
                <button>PATCH</button>
            </form>
        </div>
    </body>

</html>