
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>bcrypt_qap3_info</title>
        <link rel="stylesheet" href="/styles/index.css">
    </head>

    <body>
    
        <div class="delete content">
            <form action="/logins/<%= locals.theId %>?_method=DELETE" method="POST">
                <label>Are you sure you want to delete this Login?</br>
                    <input type="text" id="<%= locals.theId %>" name="login" value="<%= locals.first_name %>" readonly>
                </label>
                <button>DELETE</button>
            </form>
        </div>
    </body>
    
</html>